@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');



body{
    font-family: "Atkinson Hyperlegible Mono", serif;
    background-color: #1a1a1a;
    color:beige;
}

.title {
    text-align: center;
}

a{
    color:bisque
}